<md-card id="jp-body">

    <!-- loading screen  -->
    <div *ngIf="!device"
        class="fill">
        <jp-loading-screen></jp-loading-screen>
    </div>


    

    <!--input fields  -->
    <div *ngIf="device"
        class="fill"
        id="device-settings">

        <!-- header part  -->
        <jp-device-info [uid]="device.Uid"
            (deviceIdChange)="onDeviceIdChange($event)"
            [vigilId]="device.VigilId"></jp-device-info>

        <!-- input area  -->
        <jp-device-settings [settings]="device.Model.RuntimeSettings"></jp-device-settings>

        <!-- button group  -->
        <div class="btn-group">
            <button md-raised-button
                (click)="onClickSave()"
                color="primary">Save</button>
            <button md-button
                (click)="onClickReset()">Reset</button>
        </div>

    </div>

</md-card>