<md-card id="jp-body">

    <!-- loading screen  -->
    <div *ngIf="!device && !readError"
        class="fill">
        <jp-loading-screen></jp-loading-screen>
    </div>

    <div *ngIf="readError"
        class="fill">
        <h2>Error :(</h2>
        <p>
            oops... this is not expected. there's something wrong, please refresh and try again. if the problem remains, please contact
            our customer service: (88)777 6666.
        </p>
        <p>
            Message: <br>
            <code>{{readError.message}}</code>
        </p>

        <button md-raised-button
            color="primary" (click)="loadData()">Refresh</button>
    </div>


    <!--input fields  -->
    <div *ngIf="device && !readError"
        class="fill"
        id="device-settings">

        <!-- header part  -->
        <jp-device-info [uid]="device.Uid"
            (deviceIdChange)="onDeviceIdChange($event)"
            [vigilId]="device.VigilId"></jp-device-info>

        <!-- input area  -->
        <jp-device-settings [settings]="device.Model.RuntimeSettings"></jp-device-settings>

        <!-- button group  -->
        <div class="btn-group">
            <button md-raised-button
                (click)="onClickSave()"
                color="primary">Save</button>
            <button md-button
                (click)="onClickReset()">Reset</button>
        </div>

    </div>

</md-card>